doctype html
html(lang="en")
  head
    title Loftili account request
  body
    .content
      .information
        .title-container
          h1.title Someone has requested an account!
        .details-container
          p.details #{email} has request an account.
