doctype html
html(lang="en")
  head
    title new user account
  body
    .content
      .information
        .title-container
          h1.title Loftili has a new user!
        .details-container
          p.details #{username} [#{email}] has created an account.
