doctype html
html(lang="en")
  head
    title Loftili stream permission
  body
    .content
      .information
        .title-container
          h1.title You've been added to a stream
        .details-container
          p.details The maintainers of 
            a.stream-name.blue(href="https://lofti.li/streams/#{stream_id}") #{stream}
            |  have added you as a contributor to their stream!
